body {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: auto;
    
}


h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

.choices {
    margin-left: 20px;
}

.choices label {
    display: block;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}